@font-face {
  font-family: 'mainFont' ;
  src: url('../fonts/fantasquesansmono-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
/*global*/

/* ::-webkit-scrollbar {
  display: none;
} */

*, ::before, ::after {
font-family: 'mainFont';
 margin: 0;
padding: 0;
box-sizing: border-box; */
}



body {
  background-color: #1d2021;
  border: 0;
  margin: 0;

}

h1 {

  font-size: 250%;
  color: #689d6a;
  /*margin: 50px 0;*/
   padding: 40px 0px 40px 40px;

  font-family: 'mainFont';

}

h2 {
  color: #98971a;
  font-size: 180%;
  padding-bottom: 40px;

}

p {
  color: #ebdbb2;

}




.card-container {
  position: relative;
  left: 5vw;
  right: 5vh;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
   max-width: 1700px;

  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 5%;
}



.card {
  position: relative;
  height: auto;
  width: 80%;
  /* margin-bottom: 10%; */
  color: #ebc6c6;
  font-weight: bold;

}


.card-front
 {
    display: flex;
   align-items: center;
    height : 40vh;
   width: 100%;
  /* width: auto; */
  padding: 30px;
  border-radius: 8px;

}

.card-front {
  background:  #282828 ;
  display: flex;
  flex-direction: column;



}

.card-front p {
  padding-top: 20px;
  padding-bottom: 10px;
}


/*Geriou carte*/
.form-container{
  padding-bottom: 2vw;
}
.form-geriou {
  display: block;
}

#infos-villes {
  display: block;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 25vw;
  border: none;
  color: #ebc6c6;
  padding: 6vh;
  visibility: hidden;
}

#infos-villes.active {
  visibility: visible;
}

.input-container label {
  font-size: 15px;
  display: block;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 30px;
}

.input-container button {
  background: #689d6a;
  width: 30px;
  height: 30px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input-container img{
  font-style: bold;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.input-group input {
  padding: 10px;
  font-size: 10px ;
  flex-basis: 100% ;
  min-width: 200px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;

  outline : none;
}

/*formulaire mutations*/

.input-container .label-mutations {
  font-size: 15px;
  display: block;
  line-height: 1.3em;
  text-align: center;
  margin-bottom: 10px;
}

.container-mutations {
  display: block;
  justify-content: center;
  align-items: center;
}

.label-mutations {
  padding: 0px 10px 10px;
}


/*card troienn*/

.btn-troienn {
  position: relative;
  top: 2em;
  left:37%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background: #689d6a;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.container-troienn label {
  padding-bottom: 50px;
}

.h2-TroiennBot {
  padding-bottom: 45px;
}


@media  (max-width: 500px) {

  .card-container{

    left: 0vw;
    right: 0vw;
  }
   .card {
        width: 90%;
    }
  .card-front {
    height: 60vh;
  }
   .h1 {padding: 0px;
   background-color: red;}

    .input-container label {
     font-size: 20px; }

  .input-group input {
       padding: 10px;
       font-size: 20px ;
     }

     .input-container button {
       background: #689d6a;
       width: 30px;
       height: 45px;}

    .label-mutations {
         padding: 0px 10px 10px;
         font-size: 50px;
       }
       label {
         font-size: 20px;
       }

        .input-container .label-mutations {
         font-size: 20px;}

